html { overflow-x: hidden; overflow-y: scroll;}

.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 552px;
  bottom: 0px;
  z-index: 1;
  width: 40%;
  height: 100%;
}

.sidebar .main-info * {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.sidebar .main-info *.bs {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.main-content {
  position: relative;
  overflow: visible;
  width: 60%;
  max-width: 1200px;
  margin-left: 40%;
  float: none;
  clear: none;
}

.main-content .emp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 10;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.main-content .emp.bs {
  -webkit-transform: translateX(1200px);
          transform: translateX(1200px);
}

.article {
  font-family: 'Merriweather', serif !important;
  font-size: 18px !important;
  line-height: 1.8rem;
  max-width: 800px;
}

/*.article-header {
  margin: 0 auto;
}*/

.article-section { font-family: 'Merriweather', serif !important; }

.article p { color: #222; }
.article img { max-width: 100%; }

.article code {
  background-color: #fbfbfb !important;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.article mark {
  background-color: #fff;
  color: #c80000;
}

.article-meta,
.a-section-meta {
  font-family: 'Montserrat', sans-serif !important;
  color: #222;
  font-weight: 300;
  font-size: .85rem;
  letter-spacing: .1em;
  text-transform: uppercase;
}
.article-meta-strong, .a-section-meta-strong { font-family: inherit; font-weight: 700;}
.article-meta-more, .a-section-more { text-transform: lowercase; font-variant: small-caps; }

.a-section-intro {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 1rem;
}

.a-section-intro a,
.a-section-intro a:visited {
  color: #3f4c7c;
}
.a-section-intro a:active,
.a-section-intro a:hover {
  color: #f76c6c;
  text-decoration: underline;
}
.article-share a,
.article-share a:visited {
  color: #222;
}

.article-share a:active,
.article-share a:hover {
  color: #3f4c7c;
  text-decoration: none;
}

.txt-color-0 { color: #222; }    /* Faux Black  */
.txt-color-1 { color: #fff; }    /* White       */
.txt-color-2 { color: #3f4c7c; } /* Clear Night */
.txt-color-3 { color: #24305e; } /* Deep Night  */
.txt-color-4 { color: #f76c6c; } /* Salmon      */

.heading,
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700;
  line-height: 1.2;
}
.heading { text-transform: uppercase; color: #222; }

.heading a,
.heading a:visited {
  color: #222;
}

.heading a:hover,
.heading a:active {
  color: #f76c6c;
}

a:hover { text-decoration: none; }

blockquote {
  padding-left: 1rem;
  border-left: 1rem solid #ccc;
}

.highlight {
  background-color: #ededed;
  padding: 4px 8px;
  /*display: inline-block;*/
}

.highlight-dark {
  color: #fff;
  background-color: #222;
  padding: 4px 8px;
  /*display: inline-block;*/
}
/* Orange */
.highlight-c1 {
  color: #fff;
  background-color: #f76c6c;
  padding: 4px 8px;
  /*display: inline-block;*/
}
/* Night */
.highlight-c2 {
  color: #fff;
  background-color: #24305e;
  padding: 4px 8px;
  /*display: inline-block;*/
}

.form-control {
  border: none;
  background-color: #e8ebef !important;
}

.primaryMenu {
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  position: absolute;
  margin-left: 35px;
}

.primaryMenu.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.secondaryMenu {
  position: absolute;
  widows: 100%;
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
  margin-left: 25px;
  padding-left: 0;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.secondaryMenu h4 {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #222;
}

.secondaryMenu.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.footer-menu {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .1em;
  color: #3f4c7c;
}

.footer-menu a,
.footer-menu a:visited { color: #3f4c7c; }

.footer-menu a:active,
.footer-menu a:hover { color: #f76c6c; text-decoration: underline;}

.footer-menu strong,
.footer-menu b { font-weight: 700; }

.btn {
  border-radius: 6px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn.btn-primary {
  background-color: #31e7b6;
  border-color: #31e7b6;
}

.btn.btn-primary:hover {
  background-color: #32d2a7;
  border-color: #32d2a7;
}

.btn.btn-primary:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  background-color: #32d2a7;
  border-color: #32d2a7;
}

/* Not Used */
.btn-dark-faded {
  font-weight: 300;
  font-family: 'Montserrat', sans-serif !important;
  /*text-transform: uppercase;*/
  background-color: rgba(0, 0, 0, 0.07);
  color: #222;;
}

.btn-h-contact {
  font-weight: 300;
  font-family: 'Montserrat', sans-serif !important;
  font-size: .85rem;
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
  background-color: rgba(247, 108, 108, 1); /* #f76c6c */
  color: #fff;
}

.social:hover a {
  color: rgba(0, 0, 0, 0.4);
}

.social a {
  color: #222;
  font-size: 28px;
  margin-right: 12px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social a:hover {
  color: #222;
}

.social a:hover i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

section {
  padding: 0;
  /*padding: 10%;*/
}

section .heading, section .heading-light, section .heading-dark {
  margin-bottom: 30px;
}

section .heading-light {
  color: #fff !important;
  text-transform: uppercase;
 }
section .heading-dark {
  color: #222 !important;
  text-transform: uppercase;
}

section.w-cover {
  padding: inherit;
  background-color: #fff;
}

.w-cover img {
    width: 100%;
    height: auto;
    /*overflow: none; */
}

.imgcover {}

section.w-links {
  /*background-color: #222;*/
  background-color: #f76c6c;
  padding: 10%;
  padding-top: 0;
}

section.w-links a,
section.w-links a:visited {
  color: #fff;
  decoration: none;
}

section.w-links a:active,
section.w-links a:hover {
  color: #f76c6c;
  decoration: underline;
}

section.w-links ol {
  font-size: 1.1rem;
  font-style: normal;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: .08em;
  line-height: 1.8rem;
}

section.w-auteurs,
section.w-projet {
  background-color: #24305e;
  color: #fff !important;
  padding: 10%;
}

section.w-auteurs .w-text,
section.w-projet .w-text {
  font-family: 'Merriweather', serif !important;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.7;
  margin-bottom: 1.1rem;
}

section.w-auteurs .w-link,
section.w-projet .w-link {
  font-weight: 300;
  font-size: .9rem;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: .15em;
}

section.w-blog {
  background-color: #f76c6c;
  color: #fff !important;
  padding: 10%;
}

section.w-auteurs a,
section.w-auteurs a:visited,
section.w-projet a,
section.w-projet a:visited,
section.w-blog a,
section.w-blog a:visited {
  color: #fff;
  decoration: none;
}

section.w-blog a:active,
section.w-blog a:hover {
  color: #24305e;
  decoration: none;
}

section.w-auteurs a:active,
section.w-auteurs a:hover,
section.w-projet a:active,
section.w-projet a:hover {
  color: #f76c6c;
  decoration: underline;
}

.w-text-big {
  font-size: 1.7rem !important;
  line-height: 1.7;
}
.w-sponsors {
  background-color: #fff;
  color: #222 !important;
  padding: 10%;
}

section.w-contact {
  padding: 10%;
  background-color: #24305e;
  color: #fff;
}

.pagination {
  text-transform: uppercase;
  letter-spacing: .1em;
  border-radius: 1rem;
}

.pagination .page-item.active .page-link {
  background-color: #222;;
  border-color: #222;
  color: #fff !important;
  font-weight: 700;
}

.pagination .page-link {
  border: none;
  color: #222 !important;
}

.page-link {
    background-color: #e9ecef;
    border: 1px solid #dee2e6
}

.page-link:hover {
    color: #0056b3;
    background-color: #fff;
    border-color: #dee2e6
}

@media (max-width: 767px) {
  .sidebar {
    position: static;
    width: 100%;
    padding-left: 65px;
  }
  .main-content {
    width: 100%;
    margin-left: 0%;
  }
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: 24px;
  height: 4px;
}

.hamburger-menu {
  position: relative;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  background: black;
  -webkit-transition: all 0ms 300ms;
  transition: all 0ms 300ms;
}

.hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  background: black;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 350ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 350ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 350ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 350ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 350ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  background: black;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 350ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 350ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 350ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 350ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 350ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 350ms 350ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 350ms 350ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 350ms 350ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 350ms 350ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 350ms 350ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 350ms 350ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 350ms 350ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 350ms 350ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 350ms 350ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 350ms 350ms cubic-bezier(0.23, 1, 0.32, 1);
}

.card {
  border: none;
}

.card-h-blog {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: 0;
}

.card-h-blog a,
.card-h-blog a:visited {
  color: #fff;
  decoration: none;
}

.card-h-blog a:active,
.card-h-blog a a:hover {
    color: #f76c6c;
    decoration: underline;
}

.card-h-blog p {
  font-family: 'Merriweather', serif !important;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 1rem;
}

.w-blog-meta {
  font-family: 'Montserrat', sans-serif !important;
  color: #fff;
  font-size: .85rem;
  letter-spacing: .1em;
  text-transform: uppercase;
}
.w-blog-date { font-family: inherit; font-weight: 700;}
.w-blog-tags { font-family: inherit; font-weight: 300; text-transform: uppercase; font-size: .84rem;}
.w-blog-more { text-transform: lowercase; font-variant: small-caps; }

/* Reset default in Bootstrap */
.card, .btn, .form-control { border-radius: 0; }
