<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
{{/* <!-- INCLUDE PARTIAL --> */}}
{{- partial "header.html" . }}
<body class="clearfix">
{{/* <!-- Code that all your templates share, like a header --> */}}
{{- /* <!-- INCLUDE PARTIAL --> */}}
{{- partial "nav.html" . }}

{{- block "main" . -}}
{{/* <!-- The part of the page that begins to differ between templates --> */}}
{{- end }}

{{- block "footer" . -}}
{{/* <!-- More shared code, perhaps a footer but that can be overridden if need be in  --> */}}
{{- partial "footer.html" . }}
{{- end }}
</body>
{{/* <!-- INCLUDE PARTIAL --> */}}
{{- partial "footer_scripts.html" . -}}
</html>
