<section class="saumon">
  <h2 class="heading-light">
    <a href="{{.Site.BaseURL}}articles">Articles</a>
  </h2>

  <div class="row">
    {{ range first 2 (where (where .Site.Pages "Section" "articles") ".Title" "!=" "Articles" )}}
    <div class="col-lg-5 col-md-5 col-12 mb-3">
        <div class="card p-4">
          <a class="mb-3" href="{{ .Permalink }}">
            <div class="featuredImage" style="background-size:cover;background-position:center;background-image: url('{{.Site.BaseURL}}uploads/{{ .Params.featured_image }}'); height: 250px;background-color:#fbfbfb;">
            </div>
          </a>
          <small class="text-muted">{{ .Date.Format "02-01-2006"}}</small>
          <a href="{{ .Permalink }}"><h3 class="h4 font-weight-bold text-dark">{{ .Title }}</h3></a>

          <div>
            {{ range .Params.categories }}
              <span class="badge badge-light">{{ title . }}</span>
            {{ end }}

            <div class="float-right">
            </div>
          </div>
        </div>
    </div>
    {{ end }}
    <div class="col-lg-2 col-12 align-items-end d-flex align-items-center">
      <a href="{{.Site.BaseURL}}articles" class="btn btn-dark-faded rounded-circle p-4 text-center">
        <img width="40px" src="{{.Site.BaseURL}}assets/img/next.svg" alt="Next">
      </a>
    </div>
  </div>

</section>
