<footer class="footer-menu py-5">
  <nav>
    <strong><a href="{{.Site.BaseURL}}">Accueil</a></strong>&nbsp;|
    <strong><a href="{{.Site.BaseURL}}documents/le-programme">Programme</a></strong>&nbsp;|
    <strong><a href="{{.Site.BaseURL}}documents/les-auteurs">Auteurs</a></strong>&nbsp;|
    <strong><a href="{{.Site.BaseURL}}articles/">Blog</a></strong>&nbsp;|
    <strong><a href="{{.Site.BaseURL}}/documents/">Documents</a></strong>
  </nav><hr>
  <a href="{{.Site.BaseURL}}">{{ $.Site.Params.footerText }}</a>
</footer>
