  <script src="{{ .Site.BaseURL }}assets/js/espacefine.min.js"></script>
  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {
    espaceFine();
    });
  </script>
  <script src="{{ .Site.BaseURL }}assets/js/jquery.slim.min.js"></script>
  <script src="{{ .Site.BaseURL }}assets/js/popper.min.js"></script>
  <script src="{{ .Site.BaseURL }}assets/js/bootstrap.min.js"></script>
  <script src="{{ .Site.BaseURL }}assets/js/main.js"></script>
