<head>
	<title>
			{{- $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
			{{- if .IsHome }}
					{{- .Site.Title }}
			{{- else if .Params.heading }}
					{{- .Params.heading }}
			{{- else }}
					{{- .Title }} | {{ .Site.Title }}
			{{- end -}}
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}assets/css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|Montserrat:300,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/fork-awesome.min.css">
	<link rel="icon" href="{{ .Site.BaseURL }}assets/img/favicon.ico" type="image/x-icon">
	<meta name="author" content="{{ $.Site.Params.siteAuthor }}">
	<meta name="theme-color" content="#000000">
{{- with .OutputFormats.Get "RSS" }}
  	<link rel="alternate" href="{{ .RelPermalink }}" type="application/rss+xml" title="{{ site.Title }}">
  	<link rel="feed" href="{{ .RelPermalink }}" type="application/rss+xml" title="{{ site.Title }}">
{{- end }}
{{- /* <!-- INCLUDE PARTIAL --> */}}
{{- partial "header_seo.html" . -}}
</head>
