{{- /* <!-- Blnk line to preserve indentation --> */}}
    <meta itemprop="name" content="{{ .Title }}">
    <meta itemprop="description" content="{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary }}{{ else if $.Site.Params.sidebarDescription }}{{ $.Site.Params.sidebarDescription | plainify }}{{ end }}">
    <meta name="og:title" content="{{ .Title }}">
    <meta name="og:description" content="{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary }}{{ else if $.Site.Params.sidebarDescription }}{{ $.Site.Params.sidebarDescription | plainify }}{{ end }}">
    <meta name="og:type" content="article">
    {{- $base :=  .Site.BaseURL }}
    {{- $section := .Section }}
    {{- with .Params.featured_image }}
    {{- if eq $section "articles" }}
    <meta property="og:image" content="{{ $base }}uploads/{{ . }}" />
    <meta name="twitter:image" content="{{ $base }}uploads/{{ . }}">
    {{- end }}
    {{- if eq $section "documents" }}
    <meta property="og:image" content="{{ $base }}uploads/{{ . }}" />
    <meta name="twitter:image" content="{{ $base }}uploads/{{ . }}">
    {{- end }}
    {{- end }}

    {{- if .IsHome }}
    <meta property="og:image" content="{{ $base }}assets/img/{{ $.Site.Params.sidebarLogo }}" />
    <meta name="twitter:image" content="{{ $base }}assets/img/{{ $.Site.Params.sidebarLogo }}">
    {{- end -}}
    {{- /* <!-- Twitter --> */}}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary }}{{ else if $.Site.Params.sidebarDescription }}{{ $.Site.Params.sidebarDescription | plainify }}{{ end }}">
    {{- /* <!--Open Graph - Article--> */}}
    <meta name="article:author" content="{{ $.Site.Params.siteAuthor }}">{{/*<!-- NEED LOVE -->*/}}
    {{- /* <!-- Bing --> */}}
    <meta name="msvalidate.01" content="7D1688BA500CF50B9F562CC0DEDC88C4" />
    {{- /* <!-- JSON-LD --> */}}

    {{- if .IsHome }}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "{{ .Permalink }}",
        "name": "{{ .Site.Title }}",
        "author": {
            "@type": "Person",
            "name": "{{ $.Site.Params.siteAuthor }}"
          },
          "description": "{{if $.Site.Params.sidebarDescription }}{{ $.Site.Params.sidebarDescription | plainify }}{{ end }}",
        }
    </script>
    {{ end }}
    {{ if .IsPage }}
    <script type="application/ld+json">
        "@context" : "http://schema.org",
        "@type" : "BlogPosting",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{ .Site.BaseURL }}"
        },
        "articleSection" : "{{ .Section }}",
        "name" : "{{ .Title }}",
        "headline" : "{{ .Title }}",
        "description" : "{{ if .Description }}{{ .Description }}{{ else if .IsPage }}{{ .Summary }}{{ else if $.Site.Params.sidebarDescription }}{{ $.Site.Params.sidebarDescription | plainify }}{{ end }}",
        "inLanguage" : "{{ .Site.LanguageCode }}",
        "author" : "{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}",
        "creator" : "{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}",
        "publisher": "{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}",
        "accountablePerson" : "{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}",
        "copyrightHolder" : "{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}",
        "copyrightYear" : "{{ .Date.Format "2006" }}",
        "datePublished": "{{ .Date }}",
        "dateModified" : "{{ .Date }}",
        "url" : "{{ .Permalink }}",
        "wordCount" : "{{ .WordCount }}",
        "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }} {{with .Site.Title}}"{{ .}}"{{ end }}]
      }
    </script>
    {{- end -}}
