{{ $navigation := .Site.Data.navigation }}
{{ $social := .Site.Data.social }}
{{ $baseURL := .Site.BaseURL }}

<nav class="navbar navbar-expand-lg navbar-light bg-white mt-lg-0 mt-3" style="position:relative">
	<a id="menuBar" href="#0" class="bg-white" style="cursor: pointer; position: absolute; height: 22px; width: 30px;">
		<div class="hamburger-menu"></div>
	</a>

	<div class="secondaryMenu p-3 bg-white">
		<div class="">
			{{ range $navigation }}
			<a href="{{ $baseURL }}{{ .href }}"><h4 class="d-inline-block mr-3 text-dark mb-0">{{ .title }}</h4></a>
			{{ end }}
		</div>
	</div>

	<span class="mr-auto primaryMenu active">
		<a class="navbar-brand ml-auto" href="{{ .Site.BaseURL }}">
				<img style="width:40px" src="{{.Site.BaseURL}}assets/img/{{ $.Site.Params.sidebarLogo }}" alt="Les Écrits d’août" class="rounded-circle mr-2">
				<span style="font-size: 20px" class="heading">{{ $.Site.Params.sidebarTitle }}</span>
			</a>
	</span>
	<div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

			</ul>

			{{ range $key, $value := $social }}
				<a target="_blank" class="nav-link text-dark" href="{{ $value }}">
					<i class="{{ $key }}"></i>
				</a>
			{{ end }}

		</div>
</nav>
