<div class="article-share text-right my-5">
<hr>
    <span>Partager cet article :</span>
    &nbsp;&nbsp;&nbsp;
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"  target="_blank" class="h5 mr-4" title="Partager cet article sur Facebook">
    <i class="fa fa-facebook-official"></i></a>
    <a href="https://twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}&amp;via=ecrits_aout"  target="_blank" class="h5 mr-4" title="Partager cet article sur Twitter">
    <i class="fa fa-twitter"></i></a>
    <a href="//reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Title }}" target="_blank" class="h5 mr-4" title="Partager cet article sur Reddit">
    <i class="fa fa-reddit"></i></a>
    <a href="javascript:;" onclick="window.open('https://sharetomastodon.github.io/?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title),'das','location=no,links=no,scrollbars=no,toolbar=no,directories=no,status=no,titlebar=no,width=620,height=550'); return false;" rel="nofollow" target="_blank" class="h5 mr-4" title="Partager cet article sur Mastodon">
    <i class="fa fa-mastodon-alt"></i></a>
    <a href="javascript:;" onclick="window.open('http://sharetodiaspora.github.io/?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title),'das','location=no,links=no,scrollbars=no,toolbar=no,width=620,height=550'); return false;" rel="nofollow" target="_blank" class="h5 mr-4" title="Partager cet article sur Diaspora*">
    <i class="fa fa-diaspora"></i></a>
    <a href="mailto:?subject=Un lien qui peut t’intéresser {{ .Params.author }}&amp;body={{ .Title }} - {{ .Permalink }}" target="_blank" class="h5 mr-4" title="Partager cet article sur Par email">
    <i class="fa fa-send"></i></a>
</div>
