{{ $social := .Site.Data.social }}{{/*<!-- data/social.json --> */}}
<section id="sidebar" class="sidebar d-flex align-items-center p-5">
  <div class="main-info">
    <img src="{{.Site.BaseURL}}assets/img/{{ $.Site.Params.sidebarLogo }}" class="rounded-circle mb-3" width="160px">
    <h1 class="heading">{{  $.Site.Params.sidebarTitle }} <br><span class="highlight">{{ $.Site.Params.sidebarHighlightedText }}</span></h1>
    <p class="text-muted text-uppercase">{{ $.Site.Params.sidebarDescription | safeHTML }}</p>

    <div class="social my-4">
      {{ range $key, $value := $social }}
        <a rel="me" target="_blank" href="{{ $value }}">
          <i class="{{ $key }}"></i>
        </a>
      {{ end }}
    </div>{{/*<!-- social -->*/}}
  </div>{{/*<!-- main-info -->*/}}
</section>
