<section class="w-links text-light">
<div class="row">
    <div class="col-sm-6">
    <h3 class="text-uppercase">
    ⋅&nbsp;<a href="documents/le-programme/">Programme</a><br>
    ⋅&nbsp;<a href="documents/les-lieux/">Lieux</a>
    ⋅&nbsp;<a href="documents/les-auteurs/">Invités</a><br>
    ⋅&nbsp;<a href="documents/infos-pratiques/">Infos pratiques</a>
    </h3>
    </div>{{/* <!-- Col --> */}}
    <div class="col-sm-6">
    <ol>
      <li><a href="documents/le-projet/">A propos</a></li>
      <li><a href="documents/notices/mentions-legales/">Mentions légales</a></li>
      <li><a href="documents/notices/donnees-personnelles/">Données personnelles</a></li>
      <li><a href="documents/notices/credits-et-licences/">Crédits et licences</a></li>
      <li><a href="https://gitlab.com/eymoutiers/eymoutiers.gitlab.io/" target="_blank">Sources du site</a></li>
    </ol>
    </div>{{/* <!-- Col --> */}}
</div>{{/* <!-- Row --> */}}
</section>
