<section id="auteurs" class="w-auteurs">
  <h5 class="heading  text-light mb-2" style="line-height: 1.7;">sur le passage de quelques personnes à travers une assez courte unité de temps</h5>
  <div class="w-text w-text-big">
    <p>Victor Collet, Alain Damasio, Hervé Denès, David Dufresne, Nicolas Fargues, Golo, Hervé Le Corre, Marin Ledun, Jérôme Leroy, Frédéric Lordon, Hugues Pagan, Karine Parrot, Chantal Pelletier, Gilles Perrault, Serge Quadruppani, Béatrice Roudet-Marçu, Tito Topin, Éric Vuillard</p>
  </div>
  <div class="w-link">
    <p><i class="fa fa-thumb-tack" aria-hidden="true"></i>&nbsp;<a href="documents/les-auteurs/">Les auteurs</a> <i class="fa fa-thumb-tack" aria-hidden="true"></i>&nbsp;<a href="documents/le-programme/">Le programme</a></p>
  </div>
</section>
