<section id="sponsors" class="w-sponsors text-light">
<p>Avec le soutien du Fonds européen de Développement rural, de la DRAC Nouvelle-Aquitaine (Ministère de la culture), la mairie d’Eymoutiers, et du Pays Monts et Barrages</p>
<div class="row">
  <div class="col-sm-2">
  <img height="100px" src="{{.Site.BaseURL}}assets/img/logo-ue-feader.jpg" alt=" Fonds européen de Développement rural">
  </div>
  <div class="col-sm-2">
  <img height="100px" src="{{.Site.BaseURL}}assets/img/logo-bm-culture.jpg" alt="Ministère de la culture">
  </div>
  <div class="col-sm-2">
  <img height="102px" src="{{.Site.BaseURL}}assets/img/logo-bm-reg-nouvelle-aquitaine.jpg" alt="Préfète de région Nouvelle-Aquitaine">
  </div>
  <div class="col-sm-2">
  <img height="100px" src="{{.Site.BaseURL}}assets/img/logo-eymoutiers.png" alt="Commune d’Eymoutiers">
  </div>
  <div class="col-sm-4">
  <img  height="55px" src="https://ecrits-aout.fr/assets/img/logo-mb.jpg" alt="Pays Monts et Barrages">
  </div>
</div>
</section>
