<section id="projet" class="w-projet">
  <div class="w-text">
      <p>Chaque jour est consacré à un thème : un banquet littéraire quotidien sur le propos du jour, une « joute de traduction », des projections de séries télés et d’un film, une exposition, un concert, une création musico-littéraire. Les auteurs parleront de cuisine, de polar à la télé, du droit des étrangers et de la vie au Cameroun, de la Commune de Paris, d’une famille anar ou de la dernière bataille de la Douceur à Eymoutiers, des bidonvilles de Nanterre, de la Résistance hier et des résistances aujourd’hui. Pas de dédicaces obligatoires, mais des échanges impromptus au hasard des événements...</p>
  </div>
  <div class="w-link">
      <p><i class="fa fa-thumb-tack" aria-hidden="true"></i>&nbsp;<a href="documents/le-projet/">Le projet</a> <i class="fa fa-thumb-tack" aria-hidden="true"></i>&nbsp;<a href="documents/le-programme/">Le programme</a></p>
  </div>
</section>
