<section class="w-blog">
  <h2 class="heading-light ml-4">
    <a href="{{.Site.BaseURL}}articles">Articles</a>
  </h2>

  <div class="row">
    {{ range first 2 (where (where .Site.Pages "Section" "articles") ".Title" "!=" "Articles" )}}
    <div class="col-lg-5 col-md-5 col-12 mb-3">
        <div class="card-h-blog p-0 mx-4">
          <a class="mb-3" href="{{ .Permalink }}">
          <div class="featuredImage" style="background-size:cover;background-position:center;background-image: url('{{.Site.BaseURL}}uploads/{{ .Params.featured_image }}'); height: 250px;background-color:#fbfbfb;"></div>
          </a>
          <a href="{{ .Permalink }}"><h3 class="h5 text-uppercase font-weight-bold mt-3">{{ .Title }}</h3></a>
          <div>
            <p classe="w-blog-intro">{{ .Description }} <a href="{{.Permalink}}"><span class="w-blog-more">&mdash;&nbsp;Lire&nbsp;l’article</span></a></p>
            <div class="w-blog-meta"><span class="w-blog-date">{{.Date.Format "02-01-2006"}}&nbsp;&nbsp;</span>
            {{ if .Params.categories }}{{ range .Params.categories }}
            <i class="fa fa-bookmark" aria-hidden="true"></i>&nbsp;<span class="w-blog-tags">{{ title . }}</span>{{ end }}{{ end }}
            </div>
          </div>
        </div><!-- Card-->
    </div>
    {{ end }}
    <div class="col-lg-2 col-12 align-items-end d-flex align-items-center">
      <a href="{{.Site.BaseURL}}articles" class="text-center">
        <img width="95px" src="{{.Site.BaseURL}}assets/img/next.svg" alt="Next">
      </a>
    </div>
  </div>

</section>
