<section id="cover" class="w-cover">
  <!-- <img src="uploads/photo-1535284366524-b78118e721ba.jpeg" title="Photo de Florencia Viadana" class="imgcover"> -->
  <img src="uploads/photo-tSfuLGojT60-unsplash.jpg" title="Photo de Morgan Basham" class="imgcover">
</section>
