<section id="contact" class="w-contact d-flex align-items-center" style="height: 100vh;">
  <div class="container">
      <h2 class="heading-light mb-3">Contact</h2>

      <div class="txt-color-1 my-3">
      {{ $.Site.Params.contactBefore }}
      </div>

      <form action="https://formspree.io/{{ $.Site.Params.contactEmail }}" method="post">
        <div class="form-row">
          <div class="col-12 col-xl-6 col-lg-6 col-md-6">
            <label class="text-uppercase">Nom</label>
            <input type="text" class="form-control" name="name" placeholder="⋅⋅⋅">
          </div>
          <div class="col-12 col-xl-6 col-lg-6 col-md-6">
            <label class="text-uppercase">Email</label>
            <input type="email" class="form-control" name="_replyto" placeholder="⋅⋅⋅">
          </div>
        </div>

        <div class="form-group pt-4">
          <label class="text-uppercase">Message</label>
          <textarea placeholder="⋅⋅⋅" name="message" class="form-control" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-h-contact mt-3">Envoyer</button>
      </form>
      <div class="txt-color-1 my-4">
      {{ $.Site.Params.contactAfter }}
      </div>
  </div>
</section>
