{{ define "main" -}}

<section id="ooops" class="text-center">
  <head class="container pt-4" style="max-width:1024px">
  <h1 class="text-uppercase">Erreur 404 - Cul de sac&nbsp;!</h1>
  </head>
  <div class="container article w-100 my-5">
    <img src="{{.Site.BaseURL}}assets/img/oooops-404.jpg" width="100%" max-width="2040px">
    <br><br><hr>
    <div class="text-muted text-left" style="max-width:800px">
    Illustration par Pikisuperstar (<a href="https://www.freepik.com/free-photos-vectors/">freepik.com</a>)
    </div>
  </div>
</section>

{{- end }}{{/* <!-- define "main" --> */}}
