<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
{{- /* <!-- INCLUDE PARTIAL --> */}}
{{ partial "header.html" . }}
<body class="clearfix">
{{- /* <!-- INCLUDE PARTIAL --> */}}
{{ partial "sidebar.html" . }}

<div class="main-content">
	<div class="emp"></div>
	{{ partial "widget_auteurs.html" . }}
	{{ partial "widget_cover.html" . }}
	{{ partial "widget_projet.html" . }}
</div>

<div id="overEl" class="d-none" style="z-index: 4; position: relative;">
	{{ partial "widget_blog.html" . }}
</div>

<div class="main-content">
	<div class="emp"></div>
	{{ partial "widget_links.html" . }}
	{{ partial "widget_contact.html" . }}
	{{ partial "widget_sponsors.html" . }}
</div>

</body>
{{/* <!-- INCLUDE PARTIAL --> */}}
{{- partial "footer_scripts.html" . -}}
</html>
