{{ define "main" -}}

<section class="pt-5 pb-0">
  <div class="container">
    {{ $paginator := .Paginate (where .Data.Pages "Type" "articles") }}
    {{ range $paginator.Pages }}
        <article class="article-section mb-5">
          <div class="row">
            <div class="col-12 col-lg-4 col-sm-12 col-md-5">
                {{ if .Params.featured_image }}
                 <a href="{{.Permalink}}">
                  <div class="featuredImage" style="background-size:cover;background-position:center;background-image: url('{{.Site.BaseURL}}uploads/{{ .Params.featured_image }}'); height: 210px;background-color:#fbfbfb;">
                  </div></a>
                {{ end }}
            </div>
            <div class="col-12 col-lg-8 col-sm-12 col-md-7">
            <h2 class="heading mb-1"><a href="{{.Permalink}}">{{.Title}}</a></h2>
            <p class="a-section-intro">{{ .Description }} <a href="{{.Permalink}}"><span class="a-section-more">&mdash;&nbsp;Lire&nbsp;l’article</span></a></p>
            <div class="a-section-meta"><span class="a-section-meta-strong">{{.Date.Format "02-01-2006"}}&nbsp;</span>
            {{ if .Params.categories }}{{ range .Params.categories }}
                <i class="fa fa-bookmark txt-color-2" aria-hidden="true"></i>&nbsp;{{ title . }}
                {{ end }}
            {{ end }}</div>
            </div>
          </div>{{/* <!-- Row --> */}}
        </article>{{/*<!-- Article -->*/}}
    {{ end }}
  </div><!-- Container -->
</section>

<!--
//  PAGE NUMBERS
//––––––––––––––––––––––––––––––––––––––––––––––––––
-->
{{ $paginator := .Paginator }}
<!-- Number of links either side of the current page. -->
{{ $adjacent_links := 2 }}
<!-- $max_links = ($adjacent_links * 2) + 1 -->
{{ $max_links := (add (mul $adjacent_links 2) 1) }}
<!-- $lower_limit = $adjacent_links + 1 -->
{{ $lower_limit := (add $adjacent_links 1) }}
<!-- $upper_limit = $paginator.TotalPages - $adjacent_links -->
{{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}

<!-- If there's more than one page. -->
{{ if gt $paginator.TotalPages 1 }}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

    <!-- First page. -->
    {{ if ne $paginator.PageNumber 1 }}
    <li class="page-item">
      <a class="page-link" href="{{ $paginator.First.URL }}" title="Début">
      <span class="m-0 p-0"><i class="fa fa-fast-backward" aria-hidden="true"></i></span>
      </a>
    </li>
    {{ end }}

    <!-- Previous page. -->
    {{ if $paginator.HasPrev }}
    <li class="page-item">
      <a href="{{ $paginator.Prev.URL }}" class="page-link" title="Retour">
      <span class="m-0 p-0"><i class="fa fa-backward" aria-hidden="true"></i></span>
      </a>
    </li>
    {{ end }}

    <!-- Page numbers. -->
    {{ range $paginator.Pagers }}

      {{ $.Scratch.Set "page_number_flag" false }}

      <!-- Advanced page numbers. -->
      {{ if gt $paginator.TotalPages $max_links }}

        <!-- Lower limit pages. -->
        <!-- If the user is on a page which is in the lower limit.  -->
        {{ if le $paginator.PageNumber $lower_limit }}

          <!-- If the current loop page is less than max_links. -->
          {{ if le .PageNumber $max_links }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}


        <!-- Upper limit pages. -->
        <!-- If the user is on a page which is in the upper limit. -->
        {{ else if ge $paginator.PageNumber $upper_limit }}

          <!-- If the current loop page is greater than total pages minus $max_links -->
          {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}

        <!-- Middle pages. -->
        {{ else }}

          {{ if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add $paginator.PageNumber $adjacent_links) ) }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}

        {{ end }}

      <!-- Simple page numbers. -->
      {{ else }}

        {{ $.Scratch.Set "page_number_flag" true }}

      {{ end }}

      <!-- Output page numbers. -->
      {{ if eq ($.Scratch.Get "page_number_flag") true }}
        <li class="page-item {{ if eq . $paginator }} text-white active {{ end }}">
          <a href="{{ .URL }}" class="page-link ">
          <span class="m-0 p-0">{{ .PageNumber }}</span>
          </a>
        </li>
      {{ end }}

    {{ end }}

    <!-- Next page. -->
    {{ if $paginator.HasNext }}
    <li class="page-item">
      <a href="{{ $paginator.Next.URL }}" class="page-link" title="Suite">
      <span class="m-0 p-0"><i class="fa fa-forward" aria-hidden="true"></i></span>
      </a>
    </li>
    {{ end }}

    <!-- Last page. -->
    {{ if ne $paginator.PageNumber $paginator.TotalPages }}
    <li class="page-item">
      <a class="page-link" href="{{ $paginator.Last.URL }}"title="Fin">
      <span class="m-0 p-0"><i class="fa fa-fast-forward" aria-hidden="true"></i></span>
      </a>
    </li>
    {{ end }}
  </ul><!-- .pagination -->
</nav>
{{ end }}

{{- end }}{{/* <!-- define "main" --> */}}
