{{ define "main" -}}
<article id="documents">

	<header class="container mt-4" style="max-width:960px">
		<h1 class="heading text-center">{{ .Title }}</h1>
		<div class="article-meta text-center d-block">Publié le <span class="article-meta-strong">{{.Date.Format "02-01-2006"}}</span></div>
	</header>

	<div class="container article w-100 my-5">
		{{ .Content }}
		{{/* <!-- INCLUDE PARTIAL --> */}}
		{{ partial "share.html" . }}
	</div>

</article>
{{- end }}{{/* <!-- define "main" --> */}}
