{{ define "main" -}}

<section class="pt-5 pb-0">
  <div class="container">
    {{ range .Pages.ByWeight }}
    <article class="article-section mb-5">
      <div class="row">
        <div class="col-12 col-lg-4 col-sm-12 col-md-5">
            {{ if .Params.featured_image }}
             <a href="{{.Permalink}}">
              <div class="featuredImage" style="background-size:cover;background-position:center;background-image: url('{{.Site.BaseURL}}uploads/{{ .Params.featured_image }}'); height: 210px;background-color:#fbfbfb;">
              </div></a>
            {{ end }}
        </div>
        <div class="col-12 col-lg-8 col-sm-12 col-md-7">
        <h2 class="heading mb-1"><a href="{{.Permalink}}">{{.Title}}</a></h2>
        <p class="a-section-intro">{{ .Description }} <a href="{{.Permalink}}"><span class="a-section-more">&mdash;&nbsp;Lire&nbsp;l’article</span></a></p>
        <div class="a-section-meta"><span class="a-section-meta-strong">{{.Date.Format "02-01-2006"}}&nbsp;</span>
        {{ if .Params.categories }}{{ range .Params.categories }}
            <i class="fa fa-bookmark txt-color-2"></i>&nbsp;{{ title . }}
            {{ end }}
        {{ end }}</div>
        </div>
      </div>{{/* <!-- Row --> */}}
    </article>{{/*<!-- Article -->*/}}
    {{ end }}
  </div>
</section>

{{- end }}{{/* <!-- define "main" --> */}}
