{{ define "main" -}}
<article id="documents">

	<header class="container mt-4" style="max-width:960px">
		<h1 class="heading text-center">{{ .Title }}</h1>
		<div class="article-meta text-center d-block">Publié le <span class="article-meta-strong">{{.Date.Format "02-01-2006"}}</span></div>
	</header>

	{{ if isset .Params "featured_image" }}
	<img src="{{ .Site.BaseURL }}uploads/{{ .Params.featured_image }}" class="mx-auto d-block my-4" style="max-width:100%;width:800px">
	{{ end }}

	<div class="container article w-100 my-5">
		{{ .Content }}
		{{/* <!-- INCLUDE PARTIAL --> */}}
		{{ partial "share.html" . }}
	</div>

</article>
{{- end }}{{/* <!-- define "main" --> */}}
