{{ $config := .Site.Data.config -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
  			{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
  			{{ if .IsHome }}
  					{{ .Site.Title }}
  			{{ else if .Params.heading }}
  					{{ .Params.heading }}
  			{{ else }}
  					{{ .Title }} | {{ .Site.Title }}
  			{{ end }}
  	</title>
    {{/* <!-- Including the bootstrap --> */}}
  	<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}assets/css/bootstrap.css">
  	<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}assets/css/styles.css">
  	{{/* <!-- Including google fonts --> */}}
  	<link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|Montserrat:300,700&display=swap" rel="stylesheet">
  	<link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/highlight.min.css">
  	{{/* <!-- Font awesome --> */}}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/fork-awesome.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/fork-awesome-compat.min.css">
  	<link rel="icon" href="{{ .Site.BaseURL }}assets/img/favicon.ico" type="image/x-icon">
  	{{/* <!-- Meta tags --> */}}
  	<meta name="author" content="{{ $config.author }}">
  	<meta name="theme-color" content="#000000">

  	{{ with .OutputFormats.Get "RSS" }}
    <link rel="alternate" href="{{ .RelPermalink }}" type="application/rss+xml" title="{{ site.Title }}">
    <link rel="feed" href="{{ .RelPermalink }}" type="application/rss+xml" title="{{ site.Title }}">
    {{ end }}
    {{/* <!-- INCLUDE PARTIAL --> */}}
  	{{ partial "header_seo.html" . }}
  </head>
  <body class="clearfix">
    {{/* <!-- Code that all your templates share, like a header --> */}}
    {{/* <!-- INCLUDE PARTIAL --> */}}
    {{ partial "nav.html" . }}

    {{ block "main" . }}
    {{/* <!-- The part of the page that begins to differ between templates --> */}}
    {{ end }}

    {{ block "footer" . }}
    {{/* <!-- More shared code, perhaps a footer but that can be overridden if need be in  --> */}}
    {{ partial "footer.html" . }}
    {{ end }}
  </body>
  {{/* <!-- INCLUDE PARTIAL --> */}}
  {{ partial "footer_scripts.html" . }}
</html>
